<!DOCTYPE html>

<html>
<head>
    <!-- All the files that are required -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <!-- Scripts -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="/assets/js/retina-1.1.0.js"></script>
    <script src="~/assets/js/tagscontroller.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/index.js"></script>
    <script src="/assets/js/jquery.hoverdir.js"></script>
    <script src="/assets/js/jquery.hoverex.min.js"></script>
    <script src="/assets/js/jquery.isotope.min.js"></script>
    <script src="/assets/js/jquery.prettyPhoto.js"></script>
    @*<script src="/assets/js/LandingRegister.js"></script>*@

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/hoverex-all.css" rel="stylesheet" />
    <link href="/assets/css/prettyPhoto.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/landing.css" rel="stylesheet" />

    <!-- Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
