<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Styles/LandingIndex.css" rel="stylesheet" />
<link href="~/Styles/idea.css" rel="stylesheet" />
<link href="~/Styles/Button.css" rel="stylesheet" />

<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="card"">
            <div class="card-header">
                <h4 class="card-title" style="float: left">Phone-A-Taxi App</h4>
                2016-08-15
            </div>
            <div class="card-block">
                <div style="min-height: 150px">
                    <p class="card-text">
                        Phone-A-Taxi is an exclusive app that may be used in the event of being stranded. With GPS technology, it would detect the nearest taxi rank for whoever has subscribed to the service.
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><label style="color:rebeccapurple; font-weight: bold">Created by:</label>JohnnyBoy</small>
                        <br />
                        <small class="text-muted">Supported By: 23 squiddlos</small>
                        <br />
                    </p>
                </div>
                <br />
                <button type="button" class="btn-tag btn-sm">Taxi</button>
                <br />
                <br />
                <div class="progress" style="height: 10px">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%; background-color: #27BC99; height:10px; ">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div style="float: left">

                    <span class="glyphicon glyphicon-heart" style="cursor:pointer; color: #9966ff; margin-right: 5px; display:inline-block"></span>6
                    <a asp-controller="ideas" asp-action="comment" id="nolink"><span class="glyphicon glyphicon-comment" style="margin-right: 3px; display:inline-block"></span></a>2

                </div>

                <button type="button" class="btn-custom btn-sm" style="float: right">Join</button>
                <button type="button" class="btn-custom btn-sm" style="float: right">Leave</button>
            </div>

        </div>

        <div class="card" style="min-height: 150px">
            <div class="card-header">
                <h4 class="card-title" style="float: left">Recipie Directory App</h4>
                2016-08-15
            </div>
            <div class="card-block">
                <div style="min-height: 150px">
                    <p class="card-text">This is an app for those who want to be inventive in the kitchen. Simply enter your core ingredients that you have; example, chicken, potatoes, carrots and spinach. In turn, the app would then display all the recipes in its directory containing these ingredients.</p>
                    <p class="card-text">
                        <small class="text-muted"><label style="color:rebeccapurple; font-weight: bold">Created by:</label>BakingMartha</small>
                        <br />
                        <small class="text-muted">Supported By: 253 squiddlos</small>
                        <br />
                    </p>
                </div>
                <br />
                <button type="button" class="btn-tag btn-sm">Recipie</button>
                <button type="button" class="btn-tag btn-sm">Kitchen</button>
                <br />
                <br />
                <div class="progress" style="height: 10px">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%; background-color: #27BC99; height:10px; ">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div style="float: left">

                    <span class="glyphicon glyphicon-heart" style="cursor:pointer; color: #9966ff; margin-right: 5px; display:inline-block"></span>10
                    <a asp-controller="ideas" asp-action="comment" id="nolink"><span class="glyphicon glyphicon-comment" style="margin-right: 3px; display:inline-block"></span></a>2

                </div>

                <button type="button" class="btn-custom btn-sm" style="float: right">Join</button>
                <button type="button" class="btn-custom btn-sm" style="float: right">Leave</button>
            </div>

        </div>

        <div class="card" style="min-height: 150px">
            <div class="card-header">
                <h4 class="card-title" style="float: left">Fantasy Football App</h4>
                2016-08-15
            </div>
            <div class="card-block">
                <div style="min-height: 150px">
                    <p class="card-text">This football app would be a craze for all football lovers. It works by persons choosing their own fantasy football team from the English Premier League or any other league in the world.</p>
                    <p class="card-text">
                        <small class="text-muted"><label style="color:rebeccapurple; font-weight: bold">Created by:</label>ClydeCooper</small>
                        <br />
                        <small class="text-muted">Supported By: 34 squiddlos</small>
                        <br />
                    </p>
                </div>
                <br />
                <button type="button" class="btn-tag btn-sm">Sport</button>
                <button type="button" class="btn-tag btn-sm">Football</button>
                <button type="button" class="btn-tag btn-sm">Fantasy</button>
                <br />
                <br />
                <div class="progress" style="height: 10px">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%; background-color: #27BC99; height:10px; ">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div style="float: left">

                    <span class="glyphicon glyphicon-heart" style="cursor:pointer; color: #9966ff; margin-right: 5px; display:inline-block"></span>40
                    <a asp-controller="ideas" asp-action="comment" id="nolink"><span class="glyphicon glyphicon-comment" style="margin-right: 3px; display:inline-block"></span></a>21

                </div>

                <button type="button" class="btn-custom btn-sm" style="float: right">Join</button>
                <button type="button" class="btn-custom btn-sm" style="float: right">Leave</button>
            </div>

        </div>
    </div>
</div>
<br />


<div class="card-deck-wrapper">
    <div class="card-deck">

        <div class="card" style="min-height: 150px">
            <div class="card-header">
                <h4 class="card-title" style="float: left">Measuring App</h4>
                2016-08-10
            </div>
            <div class="card-block">
                <div style="min-height: 150px">
                    <p class="card-text">This is an app would be used to measure distance. By moving your phone from one point to the other, the need to have a tape measure would be eliminated.</p>
                    <p class="card-text">
                        <small class="text-muted"><label style="color:rebeccapurple; font-weight: bold">Created by:</label>KeithLightning</small>
                        <br />
                        <small class="text-muted">Supported By: 3 squiddlos</small>
                        <br />
                    </p>
                </div>
                <br />
                <button type="button" class="btn-tag btn-sm">Measure</button>
                <button type="button" class="btn-tag btn-sm">Building</button>
                <button type="button" class="btn-tag btn-sm">Tape</button>
                <br />
                <br />
                <div class="progress" style="height: 10px">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%; background-color: #27BC99; height:10px; ">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div style="float: left">

                    <span class="glyphicon glyphicon-heart" style="cursor:pointer; color: #9966ff; margin-right: 5px; display:inline-block"></span>1
                    <a asp-controller="ideas" asp-action="comment" id="nolink"><span class="glyphicon glyphicon-comment" style="margin-right: 3px; display:inline-block"></span></a>3

                </div>

                <button type="button" class="btn-custom btn-sm" style="float: right">Join</button>
                <button type="button" class="btn-custom btn-sm" style="float: right">Leave</button>
            </div>

        </div>

        <div class="card" style="min-height: 150px">
            <div class="card-header">
                <h4 class="card-title" style="float: left">Speed Camera App</h4>
                2016-08-29
            </div>
            <div class="card-block">
                <div style="min-height: 150px">
                    <p class="card-text">An innovative idea for an iPhone application would be able to measure the speed of a car in motion. It utilizes the GPS capability of the iPhone to calculate your speed and your location in order to alert you.</p>
                    <p class="card-text">
                        <small class="text-muted"><label style="color:rebeccapurple; font-weight: bold">Created by:</label>Johnny</small>
                        <br />
                        <small class="text-muted">Supported By: 1314 squiddlos</small>
                        <br />
                    </p>
                </div>
                <br />
                <button type="button" class="btn-tag btn-sm">Speed</button>
                <button type="button" class="btn-tag btn-sm">Camera</button>
                <button type="button" class="btn-tag btn-sm">Driving</button>
                <button type="button" class="btn-tag btn-sm">Car</button>
                <br />
                <br />
                <div class="progress" style="height: 10px">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%; background-color: #27BC99; height:10px; ">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div style="float: left">

                    <span class="glyphicon glyphicon-heart" style="cursor:pointer; color: #9966ff; margin-right: 5px; display:inline-block"></span>10
                    <a asp-controller="ideas" asp-action="comment" id="nolink"><span class="glyphicon glyphicon-comment" style="margin-right: 3px; display:inline-block"></span></a>22

                </div>

                <button type="button" class="btn-custom btn-sm" style="float: right">Join</button>
                <button type="button" class="btn-custom btn-sm" style="float: right">Leave</button>

            </div>

        </div>

        <div class="card" style="min-height: 150px">
            <div class="card-header">
                <h4 class="card-title" style="float: left">Bounty Hunter App</h4>
                2016-08-15
            </div>
            <div class="card-block">
                <div style="min-height: 150px">
                    <p class="card-text">This is an app where people would be able to see a list of wanted convicts in their local area by displaying the photographs of known wanted criminals.</p>
                    <p class="card-text">
                        <small class="text-muted"><label style="color:rebeccapurple; font-weight: bold">Created by:</label>RiddleRon</small>
                        <br />
                        <small class="text-muted">Supported By: 3 squiddlos</small>
                        <br />
                    </p>
                </div>
                <br />
                <button type="button" class="btn-tag btn-sm">Bounty</button>
                <button type="button" class="btn-tag btn-sm">Hunter</button>
                <button type="button" class="btn-tag btn-sm">Criminals</button>
                <br />
                <br />
                <div class="progress" style="height: 10px">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:10%; background-color: #27BC99; height:10px; ">
                        <span class="sr-only">1% Complete</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div style="float: left">

                    <span class="glyphicon glyphicon-heart" style="cursor:pointer; color: #9966ff; margin-right: 5px; display:inline-block"></span>1
                    <a asp-controller="ideas" asp-action="comment" id="nolink"><span class="glyphicon glyphicon-comment" style="margin-right: 3px; display:inline-block"></span></a>23

                </div>

                <button type="button" class="btn-custom btn-sm" style="float: right">Join</button>
                <button type="button" class="btn-custom btn-sm" style="float: right">Leave</button>
            </div>

        </div>
    </div>
</div>

