@{ Layout = null;}
@model LandingIndexVM

<div class="text-center">
    @Html.Partial("StartProject")
    <div class="etc-login-form">
        <p>
            new user? <a href="/">create new account</a><br />
            already have an account? <a href="/">login here</a>
        </p>
    </div>
</div>
